[report]
omit =
    tests/*
    */site-packages/*

# Regexes for lines to exclude from consideration
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover

    # Ellipsis lines after @typing.overload
    \.\.\.

    raise NotImplementedError
